{
    "$schema": "https://www.krakend.io/schema/v2.6/krakend.json",
    "version": 3,
    "endpoints": [


        {{ range $idx, $endpoint := .endpoints.utility_endpoints }}
        {
            "endpoint": "{{ $endpoint.endpoint }}",
            "method": "{{ $endpoint.method }}",
            "timeout": "100s",
            "backend": [
                {
                    "url_pattern": "{{ $endpoint.backend }}",
                    "method": "{{ $endpoint.method }}",
                    "host": {{ marshal $.service.utility.default_hosts }},
                    "extra_config": {
                        "backend/http": {
                            "return_error_details": "utility_backend_errors"
                        }
                    }
                }
            ],
            "output_encoding": "no-op"
        }{{ if ne $idx (sub (len $.endpoints.utility_endpoints) 1) }},{{ end }}
        {{ end }},


        {{ range $idx, $endpoint := .endpoints.partner_endpoints }}
        {
            "endpoint": "{{ $endpoint.endpoint }}",
            "method": "{{ $endpoint.method }}",
            "timeout": "100s",
            "backend": [
                {
                    "url_pattern": "{{ $endpoint.backend }}",
                    "method": "{{ $endpoint.method }}",
                    "host": {{ marshal $.service.partner.default_hosts }},
                    "extra_config": {
                        "backend/http": {
                            "return_error_details": "partner_backend_errors"
                        }
                    }
                }
            ],
            "output_encoding": "no-op"
        }{{ if ne $idx (sub (len $.endpoints.partner_endpoints) 1) }},{{ end }}
        {{ end }}


    ],
    "extra_config": {{ marshal .extra_config }}
}
