{
    "$schema": "https://www.krakend.io/schema/v2.6/krakend.json",
    "version": 3,
    "endpoints": [
        {{- $first := true -}}
        {{- range $serviceName, $serviceConfig := $.service }}
            {{- $endpointsKey := print $serviceName "_endpoints" -}}
            {{- $endpoints := index $.endpoints $endpointsKey -}}
            {{- range $idx, $endpoint := $endpoints }}
                {{- if not $first }},{{ end }}
                {{- $first = false -}}
        {
            "endpoint": "{{ $endpoint.endpoint }}",
            "method": "{{ $endpoint.method }}",
            "timeout": "100s",
            "backend": [
                {
                    "url_pattern": "{{ $endpoint.backend }}",
                    "method": "{{ $endpoint.method }}",
                    "host": {{ marshal $serviceConfig.default_hosts }},
                    "extra_config": {
                        "backend/http": {
                            "return_error_details": "{{ $serviceName }}_backend_errors"
                        }
                    }
                }
            ],
            "output_encoding": "no-op"
        }
            {{- end }}
        {{- end }}
    ],
    "extra_config": {{ marshal .extra_config }}
}
